:root {
  --submit_btn: linear-gradient(90deg, rgba(188, 203, 204,.8) 70%, rgba(32, 148, 158,.1) 90%);
  --primary_btn: #3ab3bd;
  --danger_btn: #8c2220 ;
}

body {
  background: linear-gradient(90deg, rgba(201,211,212,.8) 40%, rgba(137,161,163,.7) 100%);
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 14pt;
}

ul {
  margin: 0;
}

input {
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, p, a, div, label, span, strike, input, button, select {
  font-family: 'Fjalla One', sans-serif;
  color: #606869;
}

tr, td {
  font-family: 'Patrick Hand', cursive;
}

a:hover {
  color: #798182;
  text-decoration: none;
}

.page-heading h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #606869;
}

#bread-links {
   color: #606869;
}

#bread-links:hover {
   color: #798182;
}

#user-links {
  color: #cbd6d6;
}

#user-links:hover {
  color: #606869;
}

#register-title {
  padding-top: 25px;
}

#register-label {
  padding-top: 45px;
  padding-bottom: 30px;
  text-align: center
}

.raised-label {
  background-color: #ebf2f1;
}

.bg-steel {
  background: linear-gradient(90deg, rgba(201,211,212,1) 40%, rgba(137,161,163,.7) 85%);
}

.site-header .navbar-nav .navbar-dark .nav-link {
  color: #606869;
}

.site-header .navbar-nav .navbar-dark .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .navbar-dark .nav-link.active {
  font-weight: 500;
}

#nav-logo {
  padding-top: 5px;
  margin-right: 50px;
  color: #3d3b3b;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.color-rel {
  background-color: green
}

.main-tiles {
  display: table;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  padding-top: 10px;
  padding-bottom: 30px;
}

.gen-btn {
  background-color: #d6dbdf;
}

.sub-btn {
  background: var(--submit_btn);
}

.reg-sub-btn {
  padding-top: 45px;
  padding-left: 60px;
  align-items: center;
}

.wide {
  width: 100% !important;
}

.tile-border {
  background-color: #ebf5fb;
}

.btn-outline-info {
  color: var(--primary_btn);
  border-color: var(--primary_btn);
}

.btn-outline-info:hover {
  color: #fff;
  background: var(--primary_btn);
  border-color: var(--primary_btn);
}

.btn-outline-danger {
  color: var(--danger_btn);
  border-color: var(--danger_btn);
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: var(--danger_btn);
}