:root {
  --primary_btn: #3ab3bd;
  --danger_btn: #8c2220 ;
}

body {
  background: rgb(54,217,182);
  background: linear-gradient(90deg, rgba(201,211,212,1) 40%, rgba(137,161,163,.7) 100%);
}

h1, h2, h3, h4, h5, p, span, strike, input, button {
  font-family: 'Fjalla One', sans-serif;
}

#task-container {
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  background-color: #fff;

  margin-top: 150px;
  margin-bottom: 100px;

  justify-content: space-around;
  align-items: flex-start;
}

#form-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,.25);
  padding: 40px;
}

.user-input {
  margin-right: 5px;
}

#submit {
  margin-top: 1px;
  background-color: #67c2c9;
  border-radius: 0;
  border: 0;
  color: #fff;
}

#submit:hover {
  background-color: var(--primary_btn);
}

.btn-outline-info {
  color: var(--primary_btn);
  border-color: var(--primary_btn);
}

.btn-outline-info:hover {
  color: #fff;
  background-color: var(--primary_btn);
}

.btn-outline-danger {
  color: var(--danger_btn);
  border-color: var(--danger_btn);
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: var(--danger_btn);
}

.flex-wrapper {
  display: flex;
}

.task-wrapper {
  cursor: pointer;
  border-bottom: 1px solid #e9e9e9;
  color: #686868;
  margin: 3px;
  padding: 20px 20px 20px 35px;
}

.task-wrapper:hover {
  background: linear-gradient(90deg, rgba(190, 208, 209, .2) 60%, rgba(164, 175, 176,.3) 80%);
}